<%- include("header") -%>

<h2 style="text-align: center;">This is the about page</h2>

<p style="text-align: center;">aklsdjaksjd aslkdjaslkdj aklsdj alksjd alksjd klajilkajsdlkjas kjalsfkaj fakjs </p>

<%- include("footer") -%>